img {
    width: 300px;
    height: 300px;
    border-radius: 25px;
}

li {
    list-style: none;
}

.second {
    list-style: disc;
    color: red;
    font-style: italic;
    font-weight: bold;
}

#third-image {
    width: 500px;
    height: 500px;
    border-radius: 50px;
}

h1,h3 {
    text-decoration: underline;
    font-size: 50px;
}

li:hover{
    color: green;
    font-size: 50px;
    text-decoration: underline;
    font-weight: bold;
    font-weight: lighter;    
}

img:hover{
    height: 400px;
    width: 400px;
}

div{
    height: 200px;
    background-color: brown;
    margin-left: 100px;
    margin-bottom: 10px;
    width: 200px;
}

.second-div{background-color: yellow;
    visibility: hidden;
    /* Visibility Hiddn */
    display: none;
}

p{
    color: tomato;
    font-size: 25px;
    border: 1px solid;
    margin: 100 50px;
    padding: 100px;
    border-radius: 30px;
}